<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/alija_p_pursuitsoftw/IdeaProjects/TEST_APP/src/Sample"><classes><class name="Sample.Device"><methods><include name="test"/></methods></class><class name="Sample.Multiple"><methods><include name="test1"/></methods></class><class name="Sample.Paralall"><methods><include name="test1"/></methods></class><class name="Sample.Test_Browser"><methods><include name="test"/></methods></class></classes></test></suite>